[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-time-zone='+08:00'

# 连接数
max_connections=1000
max_connect_errors=100000

# 缓冲池
innodb_buffer_pool_size=1G
innodb_log_file_size=256M
innodb_log_buffer_size=16M

# 查询缓存
query_cache_size=64M
query_cache_type=1

# 慢查询日志
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=2

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4


